index.html
catalog.html
index111.html
homework_cards.html
homework1_cards.html
index.html
Marin.html
.idea/
styleCSS/marin.css
styleCSS/style.css
styleCSS/style1.css
styleCSS/liststyle.css
styleCSS/style-cards.css
imgMarin/
img/
REDME.md