*{
    box-sizing: border-box;
}
body{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}
.center {
    padding-left: calc(50vw - 585px);
    padding-right: calc(50vw - 585px);

}
h1, h2, h3, h4, h5, h6{
    font-family: "Oswald", serif;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    background:#2d5e5e;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
.button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    background:rgba(0,0,0,0);
    border: 2px solid #2d5e5e;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
.on_white:hover {
    color: #2d5e5e;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}
.nav_list {
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}
/****************** offer ******************/
.offer{
    background-image: url("../imgMarin/photo-to-main-offer.jpg");
    padding-top: 241px;
    padding-bottom: 161px;
    background-repeat: no-repeat ;
    background-position: center;
    background-size:cover;
}
.offer__title{
    margin: 0 0 55px;
    color: #fff;
    font-size: 48px;
    max-width: 454px;
    line-height: 1.5;
}
.offer__desc{
    font-size: 24px;
    color: #fff;
    max-width: 300px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 0 55px;
}
@media(max-width:1000px ) {
    .offer_title{
        font-size: 36px;
        max-width: 350px;
        color: red;
    }
}
/**************** services ****************************/
.services {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 37px;
    padding-left: calc(50vw - 540px);
    background: #fff;
    gap: 90px;
}
.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:300px ;
    height: 234px;
    text-align: center ;
}
.services__icon {
    height: 56px;
    margin-bottom: 30px;
}
.services__title {
    font-family: "Oswald", serif ;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #2d5e5e;
    margin-top: 0;
    margin-bottom: 20px;
}
.services__desc {
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}
/******************  About me  ***************/
.aboutMe {
    display: flex;
    flex-wrap:wrap;
    background-image: url("../imgMarin/Rectangle.jpg");
    background-color: transparent;
    width: 100%;
    height:450px;
    gap: 50px;
}
.aboutMe__preview {
    width: 625px;
    height: 330px;
    margin-top: 60px ;
    margin-bottom: 60px;
    margin-left: calc(50vw - 585px);
    color: #fff;
}
.aboutMe__preview__title {
    height: 54px;
    font-family: "Oswald", serif ;
    font-weight: 700;
    font-size: 36px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 35px;
}
.aboutMe__preview__desc {

    height: 150px;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: 50px;
}
.aboutMe__button-set  {
    display:flex;
    margin-left: 0;
}
.aboutMe__button-set__button {
    margin-right: 30px;
    font-weight: 400;
    font-size: 18px;
}
.aboutMe__photo  {
    align-self: center;

}
/**************** Input ****************/
.appointment {
    height: 572px;
    width: 100%;
    background: #fff;
    text-align: center;
}
.appointment__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: #000;
    margin-top: 60px;
    margin-bottom: 90px;
}
.form__fieldset {
    height: 180px;
    width: 774px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border: none;
    margin-left: calc(50vw - 387px);
    margin-bottom: 47.5px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #000;
}
.left_set {
    width: 372px;
    height: 180px;
    margin-left: 3px;

}
.right_set {
    width: 372px;
    height: 180px;
}
input {
    width: 369px;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 20.6px;
    padding-top: 8px;
    border: 1px solid #000;
    border-radius: 10px;
}
select {
    width: 369px;
    height: 40px;
    padding-left: 20.6px;
    padding-top: 8px;
    border: 1px solid #000;
    border-radius: 10px;
}
textarea {
    width: 372px;
    height: 180px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin-right: 0;
    padding-top: 8px;
    padding-left: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}
.check {
    display: flex;
    width:327px ;
    height: 30px;
    margin-left: calc(50vw - 164px);
    margin-bottom: 48px;
}
/******************** Style checkbox ***************/
.form__checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
    zoom: 38%;
    margin-left: -164px;
}
.form__checkbox_label {

}
.form__checkbox + label {
    position: relative;
    padding-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    color: #2d5e5e;
    cursor: pointer;
}
.form__checkbox + label:before{
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 11px;
    height: 11px;
    border: 2px solid #fff;
    background: #2d5e5e;
    transition: 0.3s;
}
.form__checkbox + label:after {
    content: "";
    position: absolute;
    top: 9.2px;
    left: 2px;
    width: 11px;
    height: 11px;
    background: #2d5e5e ;
    transition: 0.3s;
}
.form__checkbox:checked + label:before {
    content: "\2764";
    background:lightgray ;
}
.form__checkbox:checked + label:after {
    background: #fff;
}
.form__checkbox:focus + label:before {
    box-shadow: inset 0px 3px 3px #fff , 0 0 0 1px #2d5e5e;
}
.place{
    margin-left: calc(50vw - 125px);
    margin-right: calc(50vw - 125px);
}

